<div class="board-container">
  <ng-container *ngFor="let row of (displayBoard$ | async); index as rowIndex">
    <div class="row">
      <ng-container *ngFor="let column of row; index as columnIndex">
        <div
          class="column"
          [class.active-cell]="(activeCell$ | async) | isCellActive : rowIndex : columnIndex"
          [class.related-cell]="(activeCell$ | async) | isCellRelated : rowIndex : columnIndex"
          [class.hinted-value]="(hintedCoordinates$ | async) | isValueHinted : rowIndex : columnIndex"
          [class.used-value]="(runIsValueUsedCheck$ | async) | isValueUsed : (activeCell$ | async) : rowIndex : columnIndex : (displayBoard$ | async)"
          [class.paused-game]="!(gameIsActive$ | async)"
          (click)="activateCell(rowIndex, columnIndex)">

          <ng-container *ngIf="(displayBoard$ | async)[rowIndex][columnIndex]">
            {{ (displayBoard$ | async)[rowIndex][columnIndex] }}
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
