@import '../../../variables';

.board-container {
  display: flex;
  flex-direction: column;
  max-width: $row-width;
  max-height: $row-width;

  .row:first-of-type {
    border-top: $cell-border;
  }

  .row:nth-child(3),
  .row:nth-child(6) {
    border-bottom: $sub-grid-border;
  }

  .row {
    display: flex;
    height: $cell-width;
    border-bottom: $cell-border;
    max-width: $row-width;

    .column:first-of-type {
      border-left: $cell-border;
    }

    .column:nth-child(3),
    .column:nth-child(6) {
      border-right: $sub-grid-border;
    }

    .column {
      height: $cell-width;
      width: $cell-width;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: $cell-border;
    }
    .column:hover {
      background-color: #ba55d3;
    }
    .column.active-cell {
      background-color: #9932cc;
    }
    .column.related-cell {
      background-color: aqua;
    }
    .column.used-value {
      background-color: rgb(240, 130, 130);
      color: red;
    }
    .column.hinted-value {
      background-color: yellow;
      color: green;
    }
    .column.disabled-cell {
      pointer-events: none;
    }
    .column.paused-game {
      color: transparent;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }
  }
}
