<div class="board-container">
  <ng-container *ngFor="let row of displayBoard; index as rowIndex">
    <div class="row">
      <ng-container *ngFor="let column of row; index as columnIndex">
        <div
          class="column"
          [class.active-cell]="(activeCell$ | async) | isCellActive : rowIndex : columnIndex"
          [class.related-cell]="(activeCell$ | async) | isCellRelated : rowIndex : columnIndex"
          (click)="activateCell(rowIndex, columnIndex)">
          <ng-container *ngIf="displayBoard[rowIndex][columnIndex]">
           {{ displayBoard[rowIndex][columnIndex] }}
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<button mat-stroked-button (click)="generateNewGame()">NEW GAME</button>
<button mat-stroked-button (click)="resetGame()">RESET GAME</button>
