<div class="board-container">
  <ng-container *ngFor="let row of displayBoard; index as rowIndex">
    <div class="row">
      <ng-container *ngFor="let column of row; index as columnIndex">
        <div
          class="column"
          [class.active-cell]="activeCell | isCellActive : rowIndex : columnIndex"
          [class.related-cell]="activeCell | isCellRelated : rowIndex : columnIndex"
          [class.used-value]="(keyPadClick$ | async) | isValueUsed : activeCell : rowIndex : columnIndex : displayBoard"
          (click)="activateCell(rowIndex, columnIndex)">

          <ng-container *ngIf="displayBoard[rowIndex][columnIndex]">
           {{ displayBoard[rowIndex][columnIndex] }}
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
