<div class="game-form-container">
  <button class="menu-button" mat-icon-button (click)="onMenuClick()" aria-label="open side nav menu button">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="button-container">
    <ng-container *ngFor="let gameIsSolved of [gameIsSolved$ | async]">
      <button mat-stroked-button (click)="newGameDialog(difficultyControl.value, gameIsSolved)">NEW GAME</button>
      <button mat-stroked-button (click)="restartGame(gameIsSolved)">RESTART GAME</button>
      <button mat-stroked-button (click)="solveBoard()" [disabled]="gameIsSolved$ | async">SOLVE BOARD</button>
    </ng-container>
  </div>

  <div class="timer-container">
    {{ (timer | async) | formatTime }}
  </div>

  <form [formGroup]="boardForm" class='board-form'>
    <mat-form-field appearance="fill">
      <mat-label>Difficulty</mat-label>
      <mat-select formControlName="difficulty">
        <mat-option *ngFor="let level of difficultyLevels" [value]="level.value">
          {{level.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
