.game-form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .menu-button {
    display: flex;
    align-items: center;
    padding-bottom: 1.34375em;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.34375em;
  }

  .timer-container {
    margin-bottom: 1.34375em;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 7px;
    border-radius: 3px;
  }

  .mat-stroked-button {
    margin: 0 5px;
  }
}
