.game-pad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 184px;
  margin: 10px;

  .game-pad-key {
    flex-basis: 50%;
    min-height: 92px;
    min-width: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
