.drawer-container {
  height: 100%;

  .mat-drawer {
    min-width: 200px;

    .nav-link-container {
      display: flex;
      flex-direction: column;

      .top-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        font-weight: bold;
      }
      .github-button {
        align-self: center;
      }
    }
  }

  .sudoku-container {
    margin: 30px auto;
    max-width: 800px;
    max-height: 800px;

    .game-container {
      display: flex;
      justify-content: space-around;

      .number-pad-container {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
      }
    }
  }
}
