<div class="sudoku-container">
  <app-game-form></app-game-form>

  <div class="game-container">
    <app-sudoku-board></app-sudoku-board>
    <app-key-pad></app-key-pad>
    <!-- <app-game-pad></app-game-pad> -->
  </div>

</div>

<!-- TODO
  - handle for rehydrating game history with localStorage and caching
  - create button to reset board back to original state
  - board styling
  - board/move history
  - handle cell click
  - handle number entry (check if correct or not, highlight errors)
  - handle undo actions
  - handle hint
  - handle solve
  - coord highlighting
  - erase, timer, points, pause/resume
  - check for mistakes
  - rules etc
  - https://sudoku.com/


    // BE CERTAIN to handle all clicking outside of cell // reset active cell
    // create a number pad for the user to click on
    // listen to keyboard actions to fill active cell with clicked numerical key is/when pressed
    // TODO :: set to class attribute Subscription objects and create @AutoUnsubscribe() decorator


  WORKING HERE
  - key pad component
    - click on key pad (update active cell value DISPLAY value >>> check if VALID)
    - listen to number key keyboard events (update active cell DISPLAY value >>> check if VALID)
    - listen to arrow key keyboard events (update active cell coordinates)
    - whenever a cell DISPLAY value is changed, update board history
-->
