<div class="sudoku-container">
  <app-game-form></app-game-form>

  <div class="game-container">
    <app-sudoku-board></app-sudoku-board>
    <div class="key-pad-container">
      <app-key-pad></app-key-pad>
      <app-game-pad></app-game-pad>
    </div>
  </div>

</div>

<!-- TODO
  - handle for rehydrating game history with localStorage and caching
  - create button to reset board back to original state
  - board styling
  - board/move history
  - handle cell click
  - handle number entry (check if correct or not, highlight errors)
  - handle undo actions
  - handle hint
  - handle solve
  - coord highlighting
  - erase, timer, points, pause/resume
  - check for mistakes
  - rules etc
  - https://sudoku.com/
  - TESTS!!! jest + cypress
  - NGRX!!!

  // TODO :: set to class attribute Subscription objects and create @AutoUnsubscribe() decorator
-->
