<div class="number-pad-container" appKeyHandler (numericalKeyEvent)="handleNumericalKey($event)">
  <ng-container *ngFor="let numberRow of keyPad; index as rowIndex">
    <div class="row">
      <ng-container *ngFor="let digit of numberRow; index as digitIndex">
        <div
          id="key_{{digit}}"
          class="column"
          [class.paused-game]="!(gameIsActive$ | async)"
          (click)="handleNumericalKey(digit)">
            {{ digit }}
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
